<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%C{1}#%L] [%t] %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="TEST_LOGGER" level="info"/>
        <Root level="ERROR">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>